
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#root {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../img/bg1.svg");
    background-size: cover;
}

#input {
    display: none;
}


#photo-outline, #lines,
#click, #head, #button {
    position: fixed;
}

#lines {
    width: 4.5%;
    right: 4%;
    top: 20px;
}

#head {
    position: fixed;
    width: 36vw;
    height: 36vw;
    left: 32vw;
    top: 18%;
    transition: all ease 2s;
}
#head.query {
    width: 46vw;
    height: 70vw;
    top: 13%;
    left: 27vw;
}

.head-line1, .head-line2 {
    position: absolute;
    transition: all ease 2s;
}
#head-line1-1 {
    left: calc(-30% + 30px);
    top: calc(-30% + 30px);
    width: 20vw;
}
#head.query #head-line1-1 {
    top: calc(-16% + 30px);
    left: calc(-25% + 30px);
}
#head-line1-2 {
    left: calc(-30% + 15px);
    top: calc(-30% + 15px);
    width: 15vw;
    animation-delay: 200ms;
}
#head.query #head-line1-2 {
    left: calc(-25% + 15px);
    top: calc(-17% + 15px);
}
#head-line1-3 {
    left: -28%;
    top: -28%;
    width: 7vw;
    animation-delay: 400ms;
}
#head.query #head-line1-3 {
    left: -23%;
    top: -16%;
}
.head-line1 {
    animation: head-line1-animation 2s ease-in-out infinite alternate-reverse;
}
@keyframes head-line1-animation {
    0%, 100% {
        transform: none;
        opacity: 0.8;
    }
    50% {
        transform: translateX(-5vw) translateY(-5vw) scale(0.8);
        opacity: 0.4;
    }
}

#head-line2-1 {
    left: calc(30% + 30px);
    top: calc(30% + 30px);
    width: 30vw;
}
#head.query #head-line2-1 {
    top: calc(64% + 30px);
    left: calc(45% + 30px);
}
#head-line2-2 {
    left: calc(30% + 15px);
    top: calc(30% + 15px);
    width: 30vw;
    animation-delay: 200ms;
}
#head.query #head-line2-2 {
    top: calc(59% + 30px);
    left: calc(45% + 15px);
}
#head-line2-3 {
    left: calc(30%);
    top: calc(30%);
    width: 30vw;
    animation-delay: 400ms;
}
#head.query #head-line2-3 {
    top: calc(54% + 30px);
    left: calc(29% + 30px);
}
.head-line2 {
    animation: head-line2-animation 2s ease-in-out infinite alternate-reverse;
}
@keyframes head-line2-animation {
    0%, 100% {
        transform: none;
        opacity: 0.8;
    }
    50% {
        transform: translateX(5vw) translateY(5vw) scale(0.8);
        opacity: 0.4;
    }
}


#head-container {
    background-image: linear-gradient(-53deg, #3023AE 0%, #C86DD7 100%);
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

#head-container > img, .vhs-filter {
    width: 100%;
    height: 100%;
}

.vhs-filter > img {
    width: 100%;
    height: 100%;
}

.head-pic {
    image-orientation: from-image;
}

#button {
    z-index: 10;
}
#button-img {
    position: fixed;
    width: 50%;
    height: auto;
    left: 25%;
    bottom: 25%;
}
#button.query #button-img {
    left: 110%;
}

#button-lines, #button-img {
    animation: button-animation 3s infinite ease-in-out alternate-reverse;
    transition: all ease-out 2s;
}
@keyframes button-animation {
    100%, 0 % {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    80% {
        opacity: 0.8;
        transform: scale(0.8) rotate(-4deg);
    }
    90% {
        opacity: 1;
        transform: scale(1.1) rotate(6deg);
    }
}

#button-lines {
    position: fixed;
    width: 15%;
    height: 4%;
    left: calc(10% - 8px);
    bottom: 26%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#button.query #button-lines {
    left: -20%;
}

#button-lines > span {
    display: inline-block;
    height: 2px;
    background-color: white;
    transform-origin: right;
    position: relative;
}

#button-lines > span:nth-child(1) {
    animation: button-line-animation 400ms infinite alternate-reverse;
    width: 60%;
    left: 40%;
}
#button-lines > span:nth-child(2) {
    animation: button-line-animation 300ms infinite alternate-reverse;
    animation-delay: 20ms;
    width: 40%;
    left: 60%;
}
#button-lines > span:nth-child(3) {
    animation: button-line-animation 200ms infinite alternate-reverse;
    animation-delay: 80ms;
    width: 100%;
}

@keyframes button-line-animation {
    0% { transform: scaleX(0.3) }
    100% { transform: scaleX(1.3) }
}

/*TODO*/
#circle-and-text {
    width: 15vw;
    height: 15vw;
    position: fixed;
    left: 8vw;
    top: 60vw;
    opacity: 0.8;
}
#circle {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 1px solid white;
    /*animation: circle-animation 6s ease infinite alternate-reverse;*/
}
@keyframes circle-animation {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0.5;
        transform: scale(0.6);
    }
}
#circle-text {
    position: fixed;
    text-align: center;
    font-size: 12px;
    width: 16px;
    margin: 0;
    color: white;
    line-height: 15px;
    font-weight: lighter;
    left: 10vw;
    top: 66vw;
}

#slogan {
    position: fixed;
    bottom: 18%;
    text-align: center;
    width: 100%;
    color: white;
    letter-spacing: 0.2em;
    font-family: "Songti SC";
    font-size: 16px;
    font-weight: lighter;
    transition: all ease 3s;
}

#slogan.query {
    transform: translateY(-30vw);
    opacity: 0;
}


#root {
    transition: all ease 1.5s;
}
#root.result {
    transform: scale(0);
}

#result {
    background-image: url("../img/bg2.svg");
    background-size: cover;
    transition: all ease 1.5s;
    transform: scale(0);
    position: fixed;
    width: 100%;
    height: 100%;
    transition-delay: 1s;
}
#result.result {
    transform: scale(1);
}

#result-container {
    width: 88%;
    height: 70%;
    position: fixed;
    left: 6%;
    top: 15%;
    border: 3px solid white;
}

#player {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: -3px;
    left: -3px;
    border: 3px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#player > div {
    height: 80%;
    margin-left: 2vw;
}
#player > div > img {
    height: 80%;
    margin: 12% 0;
}
#player #player-info {
    display: inline-flex;
    height: 100%;
    position: absolute;
    top: 0;
    left: 15vw;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
}
#player #player-info p {
    margin: 0;
    color: white;
    font-family: "Songti SC";
}
#player #player-info #player-name {
    font-size: 18px;
    margin-left: 4px;
}
#player #player-info #player-artist {
    font-size: 12px;
}

#player > img {
    height: 80%;
    margin-right: 1.5vw;
}

#result-img {
    width: 10vh;
    height: 10vh;
    background-size: cover;
    background-position: center;
    border: 3px solid white;
    position: fixed;
    left: 65vw;
    top: 27vh;
}
#result-text {
    position: fixed;
    width: 60vw;
    height: auto;
    border: 3px solid white;
    font-size: 24px;
    letter-spacing: 0.2em;
    font-family: songti sc;
    color: white;
    padding: 5vw 3vw;
    left: 12vw;
    top: 35vh;
}

#error {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    z-index: 99;
    display: none;
}
#error.show {
    display: block;
}
#error > div {
    width: 90vw;
    height: 90vw;
    margin: 20vw 5vw;
    background-image: url("../img/error1.jpg");
    background-size: cover;
    position: relative;
    animation: error-image-animation 1s infinite;
}
body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content: url("../img/error1.jpg") url("../img/error2.jpg");
}
@keyframes error-image-animation {
    0%, 50%, 100% {
        background-image: url("../img/error1.jpg");
    }
    1%, 51% {
        background-image: url("../img/error2.jpg");
    }
}
#error > div > img {
    width: 18%;
    height: auto;
    position: absolute;
    right: 18%;
    bottom: 22%;
    animation: error-animation 2s ease-in-out infinite alternate-reverse;
}
@keyframes error-animation {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.5); }
}
#error #close-error {
    width: 60%;
    height: auto;
    margin: 0 20%;
    animation: button-animation 3s infinite ease-in-out alternate-reverse;
}

.save {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(70% + 50px);
    opacity: 0;
}
